<div class="row">
  <div class="col-md-12 d-flex justify-content-center">
    <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="mobile" class="form-label">Mobile Number</label>
        <input formControlName="mobile" type="tel" class="form-control" id="mobile" aria-describedby="emailHelp"
        placeholder="9999999999" pattern="[0-9]{10}" maxlength="10">
        <span *ngIf="inputError" style="color: red">Mobile must contain 10 digits</span>
      </div>
      <button type="submit" [disabled]="inputError" class="btn btn-primary button">Submit</button>
    </form>
  </div>
</div>
